<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influencer Analysis</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/influencer-analysis.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>

    <style type="text/css">

        #mynetwork {
            width: 500px;
            height: 500px;
            background-color: #ffffff;
            border: 1px solid lightgray;
        }   
    </style>

</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <section>
    <p >There should be some graphs about the influencers</p>
    <div id = "mynetwork" class="col-lg-9 col-md-12"></div>
    </section>
    
    <script>
    
        // initialize global variables.
        var edges;
        var nodes;
        var network; 
        var container;
        var options, data;
    
        
        // This method is responsible for drawing the graph, returns the drawn network
        function drawGraph() {
            var container = document.getElementById('mynetwork');
            nodes = new vis.DataSet();
            edges = new vis.DataSet();
            
            // parsing and collecting nodes and edges from the python
            for (const i of {{nx[0]|safe}}){
                nodes.add(JSON.parse(i))
            };
    
            for (const j of {{nx[1]|safe}}){
                edges.add(JSON.parse(j))
            };
            
            // nodes = new vis.DataSet([{'id': 'stopasianhate', 'label': 'stopasianhate', 'pos': [30, 4], 'shape': 'dot', 'size': 50}, {'id': 'stopaapihate', 'label': 'stopaapihate', 'pos': [0, 2], 'shape': 'dot', 'size': 57}, {'id': 'stopasianhatecrimes', 'label': 'stopasianhatecrimes', 'pos': [10, 1], 'shape': 'dot', 'size': 51}, {'id': 'bannon', 'label': 'bannon', 'pos': [20, 0], 'shape': 'dot', 'size': 26}, {'id': 'limengyan', 'label': 'limengyan', 'pos': [30, 2], 'shape': 'dot', 'size': 24}]);
            // edges = new vis.DataSet([{'from': 'stopasianhate', 'to': 'stopaapihate', 'weight': 0.57}, {'from': 'stopasianhate', 'to': 'stopasianhatecrimes', 'weight': 0.51}, {'from': 'stopasianhate', 'to': 'bannon', 'weight': 0.26}, {'from': 'stopasianhate', 'to': 'limengyan', 'weight': 0.24}]);
            
            // adding nodes and edges to the graph
            data = {nodes: nodes, edges: edges};
    
            var options = {
                        'autoResize': true,
                        "configure": {
                            "enabled": false
                        },
                        "edges": {
                            "color": {
                                "inherit": true
                            },
                            "smooth": {
                                "enabled": false,
                                "type": "continuous"
                            }
                        },
                        "interaction": {
                            "dragNodes": true,
                            "hideEdgesOnDrag": false,
                            "hideNodesOnDrag": false
                        },
                        "physics": {
                            "enabled": true,
                            "stabilization": {
                                "enabled": true,
                                "fit": true,
                                "iterations": 1000,
                                "onlyDynamicEdges": false,
                                "updateInterval": 50
                            }
                        },
                        "groups": {
                            "top3": {
                                'color': {
                                'border': '#f55c47',
                                'background': '#f55c47',
                                'highlight': {
                                    border: '#f55c47',
                                    background: '#f55c47'
                                    }
                                },
                                'fontSize': 18
                            }
                            },
                    };
            
            
    
            network = new vis.Network(container, data, options);
         
            
            return network;
    
        }
    
        drawGraph();
    
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/influencer-analysis.js') }}"></script>
    {% endblock %}
</body>
</body>
</html>